services:
  postgres:
    image: postgres
    container_name: postgres-ssmup
    restart: always
    ports:
      - "5434:5432"
    environment:
      POSTGRES_USER: ssmup
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: ssmup

  redis:
    image: redis:8.4-alpine
    container_name: redis-ssmup
    depends_on:
      - postgres
    ports:
      - "6379:6379"
    restart: always

  api:
    build: .
    container_name: api-ssmup
    depends_on:
      - postgres
      - redis
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}